.bthsTech__whatAreWe {
  display: flex;
  align-items: center;
  width: 100%;
}
.bthsTech__3d {
  width: 50vw;
  height: 60vh;
}
@media screen and (max-width: 1050px) {
  .bthsTech__whatAreWe {
    flex-direction: column;
    align-items: center;
  }
  .bthsTech__3d {
    width: 100vw;
  }
}
